<div id="landing-page-fake-row" class="row">
	<div class="col-md-4"> 
		<a href="#/beginner">
			<div class="jumbotron">
				<img src="images/beginner.png" class="barbell_img"/>
				<h3>Beginner</h3>
			</div>
		</a>
	</div>
	<div class="col-md-4"> 
		<a href="#/intermediate">
			<div class="jumbotron">
				<img src="images/intermediate.png" class="barbell_img"/>
				<h3>Intermediate</h3>
			</div>
		</a>
	</div>
	<div class="col-md-4"> 
		<a href="#/advanced">
			<div class="jumbotron">
				<img src="images/advanced.png" class="barbell_img"/>
				<h3>Advanced</h3>
			</div>
		</a>
	</div>
</div>