<h3>About</h3>
<br/>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="images/GitHub-Mark-64px.png" alt="Jared"/>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">jared bentley
		<smalll>
			<a href="https://instagram.com/thejaredbentley" target="_blank"><img class="social_media_icon" src="images/instagram.png" alt="thejarebentley"/></a>
		</small>
	</h4>
		<p>
			jared works full time as a manager at <a href="http://www.gnc.com">GNC</a>.
			in addition, he is currently in school for exercise science.
			he is self motivated, learned in depth about supplements...
			socila media icons***
			favorite lift
		</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="media-heading">rachel johnson
		<smalll>
			<a href="https://instagram.com/rachelannjohns" target="_blank"><img class="social_media_icon" src="images/instagram.png" alt="rachelannjohns"/></a>
		</small>
	</h4>
			<p>
				Software developer by day and a bodybuilder by night, I'm currently prepping for my first
        NPC bikini show. Jared introduced me to lifting about two years ago. He pushed me the first day in
		the gym to the point I literally walked away in frustration! But it made me want to come back. At
		first lifting was just a hobby but it slowly turned into a lifestyle. Now, I'm wanting to help others
		learn this amazing lifestyle.
			</p>
  </div>
  <div class="media-right">
    <a href="#">
      <img class="media-object" src="images/rachel.png" alt="Rachel"/>
    </a>
  </div>
</div>