	<h3>Advanced Plan <small>8 weeks</small></h3>
	<h4>Chest/Triceps</h4>
		<ul>
			<li>dumbbell or barbell flat bench (alternate each week) 5x8</li>
			<li>dumbbell or barbell incline bench (alternate each week) 4x10</li>
			<li>decline bench 4x8-10</li>
			<li>dips to failure superset with chest flyes (cable machine or dumbbells) 3x12</li>
			<li>tricep skullcrushers 30 method</li>
			<li>cable extension with rope or ez bar 4x10-12</li>
			<li>dumbbell overhead extensions 3x10 super set with dumbbell kickbacks to failure</li>
		</ul>
	<h4>Back/Biceps</h4>
		<ul>
			<li>pullups 5 sets to failure (alternate grips)</li>
			<li>deadlifts warm-up with 20,10,8 then 4x6</li>
			<li>wide grip lat pull down 4x8</li>
			<li>bent over dumbbell rows 4x10</li>
			<li>reverse grip lat pulldowns 3x8, 15</li>
			<li>close grip rows (machine, cable, or bent over) 3x10, drop weight to failure</li>
			<li>dumbbell zottoman curls (each arm) 3x8</li>
			<li>straight bar 21 method</li>
			<li>dumbbell preacher curls (open chest, eliminate shoulder) 3x8-12</li>
			<li>hammer curls with plate 3xfailure (around 12-15 reps)</li>
		</ul>
	<h4>Legs</h4>
		<ul>
			<li>squats warm-up with 20, 15, 10 then 5x6-8</li>
			<li>leg press or front squat (alternate each week) 4x12-15</li>
			<li>walking lunges with dumbbells or barbell 3x10 (each leg), as many unweighted reps as possible for 1 minute</li>
			<li>leg extensions 8,10,15,20 superset with leg curls 20,15,10,8</li>
			<li>dumbbell or barbell romanian deadlifts 15,12,10,8</li>
		</ul>
	<h4>Shoulders/Calves</h4>
		<ul>
			<li>dumbbell or barbell press (alternate each week) warm-up with 20,15,10 then 4x8</li>
			<li>upright rows 4x8</li>
			<li>behind the head barbell press (seated or standing) 4x10-12</li>
			<li>side raises superset with rear delt flyes on chest fly machine 3x12-15</li>
			<li>plate raises superset 3xfailure with seated calf raises 3x20</li>
			<li>standing calf raises 3x20</li>
			<li>donkey calf raises 3x20</li>
		</ul>
	<h4>Biceps/Triceps</h4>
		<p>alternate between week a and week b</p>
		<h5>week a</h5>
			<ul>
				<li>note - this is one giant set of 5 sets. do the first lift with designated reps then move on to the second lift, etc.</li>
				<li>alternating dumbbell curls 8 (each arm)</li>
				<li>skullcrushers 12</li>
				<li>preacher curls 12-15</li>
				<li>cable extensions 8-10</li>
				<li>hammer curls with plate 10</li>
				<li>tricep dips to failure</li>
				<li>concentration curls 12</li>
				<li>close grip bench with ez bar to failure (around 10)</li>
			</ul>
		<h5>week b</h5>
			<ul>
				<li>barbell curl warm-up with 30 then 4x8-10</li>
				<li>alternating dumbbell curls and squeeze at top 12,10,8,15</li>
				<li>preacher curls with cable rope 20,15,10,6,20</li>
				<li>hammer curls with cable rope 20,15,10,6,20</li>
				<li>tricep cable extension with rope warm-up with 30 then 4x8-10</li>
				<li>dumbbell skullcrushers 4x10-12</li>
				<li>french press with ez bar 4x6-8</li>
				<li>single arm cable extension 3x12-15 superset with diamond pushups to failure</li>
			</ul>

	<p>- Disclaimer: blah blah -</p>