<!--	<h3>Create a random workout</h3>-->

	<form class="form-horizontal">
		<div class="form-group">
			<label for="muscleGroupSelection" class="col-sm-2">Muscle group</label>
			<div class="col-sm-1">
				<label name="muscleGroupSelection" class="checkbox" ng-repeat="exercise in exerciseChoices track by $index">
					<input type="checkbox" ng-checked="exercisesSelection"> {{ exercise | capitalize: true}}
				</label>
				
				{{ exerciseSelection }}
			</div>
		</div>
		<div class="form-group">
			<label for="exerciseAmountSelection" class="col-sm-3">Number of exercises</label>
			<div class="col-sm-2">
				<input type="number" name="exerciseAmountSelection" class="form-control" ng-model="exerciseAmountSelection"/>
			</div>
		</div>
		<div class="form-group">
			<label for="liftStyleSelection" class="col-sm-3">Type of sets</label>
			<div class="col-sm-2">
				<select name="liftStyleSelection" class="form-control" ng-model="liftStyleChoice">
					<option ng-repeat="lift in liftStyleChoices">{{ lift }}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5 col-sm-2">
				<button class="btn btn-default btn-block" ng-click="loadExerciseData(muscleGroupSelection, exerciseAmountSelection)">generate</button>
			</div>
		</div>
	</form>

	<h3>{{}}</h3>
	<div ng-model="exercises">
		{{exercises}}
		<!-- <li ng-repeat="workout in exerciseOutput track by $index">{{workout}}</li> -->
	</div>