<h1>Intermediate</h1>
	<h2>Legs</h2>
		<ul>
			<li>squats 4x8-10</li>
			<li>bulgarian split squat 3x12 (each leg)</li>
			<li>leg extensions 15, 12, 10, 8 super set with leg curls 8, 10, 12, 15 (reverse the reps every week)</li>
			<li>leg press 3x15</li>
			<li>lunges 3x10 (each leg)</li>
		</ul>
	<h2>Chest/Triceps</h2>
		<ul>
			<li>warm up with tricep dips 4xfailure</li>
			<li>flat bench press 4x8-10 (switch b/w barbell and dumbbells every week)</li>
			<li>incline bench press 4x6-8 (switch b/w barbell and dumbbells every week)</li>
			<li>decline barbell bench press 3x10</li>
			<li>cable flies 15, 12, 10, 10</li>
			<li>elevated feet pushups 3xfailure</li>
			<li>cable extension with rope 25, 15, 10, 10</li>
			<li>barbell skullcrushers 4x8-10</li>
			<li>tricep kickbacks 3x12</li>
		</ul>
	<h2>Back/Bis</h2>
		<ul>
			<li>deadlift 5x6-8</li>
			<li>wide grip lat pulldowns 3x10</li>
			<li>seated close grip rows 4x8</li>
			<li>neutral grip lat pulldowns 3x10</li>
			<li>bent over one arm dumbbell rows 4x8-10</li>
			<li>wide grip cable bar curls 25, 15, 10, 10</li>
			<li>hammer curls 3x10-12</li>
			<li>preacher curls 3x8-10</li>
		</ul>
	<h2>Shoulders/Calves</h2>
		<ul>
			<li>military press 4x8</li>
			<li>upright barbell rows 3x12</li>
			<li>dumbbell side raises superset with dumbbell front raises 20, 15, 10, 8, 20</li>
			<li>machine shoulder press superset with rear delt flies 10, 10, 15</li>
			<li>seated calf raises 3x15</li>
			<li>standing calf raises using smith machine 4x10</li>
		</ul>
	<h2>Arms</h2>
		<ul>
			<li>barbell curls 4x8-10</li>
			<li>skull crushers 4x8-10</li>
			<li>alternating dumbbell curls 3x12</li>
			<li>behind the head seated tricep extensions 3x10</li>
			<li>cable rope hammer curls 3x12 with superset with cable rope tricep extensions 3x15</li>
			<li>preacher curls superset with tricep kickbacks 15, 10, 8, 15</li>
		</ul>