	<h3>Nutrition</h3>
	<h4>Legs</h4>
		<ul>
			<li>squats 4x10</li>
			<li>deadlifts 4x8</li>
			<li>barbell lunges 3x10 (each leg)</li>
			<li>leg extensions super set with leg curls 3x12 (each exercise)</li>
		</ul>
	<h4>Chest/Triceps</h4>
		<ul>
			<li>dumbbell flat bench press 4x10</li>
			<li>dumbbell incline bench 3x12</li>
			<li>dumbbell flyes 3x10</li>
			<li>tricep bench dips 1x30 (take breaks as needed)</li>
			<li>overhead dumbbell tricep extension 3x12</li>
			<li>cable (use rope attachment) tricep pushdown 4x8</li>
		</ul>
	<h4>Back/Bis</h4>
		<ul>
			<li>assisted pullups 1x20 (take breaks as needed)</li>
			<li>narrow grip cable seated rows 3x12</li>
			<li>wide grip lat pulldowns 3x12</li>
			<li>alternating dumbbell curls 3x10 (each arm)</li>
			<li>barbell curls 4x8</li>
			<li>preacher curls 3x10</li>
		</ul>
	<h4>Shoulders/Abs/Calves</h4>
		<ul>
			<li>seated dumbbell press 3x12</li>
			<li>dumbbell front raises superset with dumbbell side raises 3x10 (each exercise)</li>
			<li>seated calf raises 3x15</li>
			<li>standing calf raises using smith machine 3x15</li>
			<li>bicycle crunches 3x16</li>
			<li>lying leg raises 3x12</li>
		</ul>
	<br/>
	<h5>Notes</h5>
		<p>You will have 3 rest days. You can take them consecutively or have a rest day in between each workout (recommended). Set/rep convention: 3x10 means 3 sets of 10 reps each with a 45 second break in between each set. A superset is when two exercises are performed consecutively without a break. If you're easily getting 10 reps with 10lbs of weight then move up to 15lbs, the last two reps should be a slight struggle...push yourself!</p>

	<br/>
	<p class="disclaimer">Disclaimer - Consult a physician before beginning any program. We are not liable for any injuries that may result from any of our exercise or nutritional programs.</p>